* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#container{
    background-color: white;
}
#gradient{
    margin: auto;
    width: 95%;
    height: 90%;
    border-radius: 20px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    overflow: hidden;

}
.content{
    width: 100%;
    height: 100%;
    overflow: auto;
    
}   
@keyframes rotation {
        from {
                    transform: rotate(0deg);
        }
        to {
                    transform: rotate(359deg);
        }
}
@keyframes antirotation {
        from {
transform: rotate(360deg);
        }
        to {
transform: rotate(1deg);
        }
}
#phone-view{
    display:none;
}
#social{
    position: absolute;
    bottom:8%;left: 6%;
    width: 200px;
    height: auto;
    z-index: 60;
    color: white;
    
}
.user-counter{
    width: 154;
    height: 75;
    margin: 0px auto;
    display: block;
    margin-bottom: 15px;

}
#menu-content{
    width: 100%;
    height: 100%;;
    position: absolute;
    left: 100%;
}
#menu{
    display: block;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background-image: url('../img/hamburger.png'); 
    position: absolute;
    right: -40px;top: 0;bottom: 0;
    margin: auto;
    background-color:none;
    z-index: 100;
}
#menu:hover{
    cursor: pointer;
}


@media (max-width:768px){
    #gradient{
        width: 100%;
        height: 100%;
        border-radius:0px;
    }
    #outterPng{
        display: none;
    }
    #innerPng{
        display: none;
    }
    #logoPng{
        display: none;
    }
    #main{
        background-image: url('../img/phone-new.png');
        background-position-x: center;
        background-position-y: center;
        background-size: auto 100%;
    }
    #phone-view{
        display: block;
        background-image: url('../img/phonePng-new.png');
        background-position: center;
        animation: rotation 30s infinite linear;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
    }
    @-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
    }
    #social{
        display: none;
    }
    #bohemian-mob{
        position: absolute;
        display: inline-block;
        bottom: 2%;
        width: 150px;
        height: 112.5;
        left: 0;right: 0;
        margin: auto;
        z-index: 70;
        background-image: url('../img/bohemian.png');
        background-size: 100%;
    }
    #menu{
        top: 5%;bottom: auto;
    }
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    height:300px;
    z-index:10000;
}